body {
  margin: 0;
  background-color: rgb(201, 200, 200);
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  background-color: grey;
  min-height: 50px;
  min-width: 50px;
}
.field {
  display: grid;
  gap: 5px;
}
.set-field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 100px;
  min-width: 50px;
  min-height: 25px;
  background-color: rgb(93, 92, 92);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.input-1 {
  display: flex;
  gap: 1%;
  margin: 2%;
}
.flag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
