.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  background-color: grey;
  min-height: 50px;
  min-width: 50px;
}
.field {
  display: grid;
  gap: 5px;
  width: 25vw;
  height: 25vh;
  max-width: 25vw;
  max-height: 25vh;
}
.set-field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 100px;
  min-width: 50px;
  min-height: 25px;
  background-color: rgb(93, 92, 92);
}
